/*keyframe for the sun, scale to make it bigger and smaller*/
@keyframes pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.9;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

/*keyfram for moving the cloud*/
@keyframes moveCloud {
    0% {
        left: 50px;
    }
    50% {
        left: -50px;
    }
    100% {
        left: 50px;
    }
}