/*variables for styling light-theme*/
$back-color: #DDE4F0;
$header-color: #176B87;
$container-color: #fff;
$text-color: #000;
$header-text-color: #fff;

$font-stack: Arial, sans-serif;
$text-size: 1em;
$nav-text: 1.2em;
$header-text: 2em;

/*dark-theme*/
$dark-color: #2a344e;
$dark-container-color: #424e6a;
$dark-header: #212633;
$dark-text-color: #fff;