/*variables for styling*/
$back-color: #DDE4F0;
$header-color: #176B87;
$container-color: #fff;
$text-color: #000;
$header-text-color: #fff;

$font-stack: Arial, sans-serif;
$text-size: 1em;
$nav-text: 1.2em;
$header-text: 2em;

/*for dark theme*/
$dark-color: #2a344e;
$dark-container-color: #4c5c83;
$dark-header: #23293b;
$dark-text-color: #fff;