@use "base";

/*styling the basics of page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: base.$back-color;
    font-family: base.$font-stack;
    color: base.$text-color;
    font-size: base.$text-size;
    text-align: center;
    height: 100vh;
}

/*selector inheritance for header and footer, extend to use on both header and footer*/
.head-foot-bg {
    background-color: base.$header-color;
    color: base.$header-text-color;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header {
    @extend .head-foot-bg;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

    h1 {
        font-size: base.$header-text;
    }
}

footer {
    @extend .head-foot-bg;

    h3 {
        font-size: base.$nav-text;
    }

    i {
        font-size: 25px;
        padding: 10px;
        cursor: pointer;
    }
}

/*styling for main container, center in the middle*/
.main-container {
    width: 80%;
    max-width: 800px;
    background-color: base.$container-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);

    h2, h3 {
        padding: 15px;
        font-size: base.$nav-text;
    }
}

/*sun styling, inspiration from developer.mozilla*/
#sun {
        background-color: yellow;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        aspect-ratio: 1 / 1;
        animation: pulse 6s ease-in-out infinite;
        display: none;
    }

/*styling for a cloud, inspiration from: foolishdeveloper.com*/
#cloud {
    position: relative;
    margin-top: 20px;
    width: 180px;
    height: 60px;
    background-color: #E1E1E4;
    border-radius: 90px;
    animation: moveCloud 10s linear infinite;
    display: none;
}

#cloud:before, 
#cloud:after {
    content: '';
    position: absolute;
    background-color: #E1E1E4;
    border-radius: 50%;
}

#cloud:before {
    width: 80px;
    height: 80px;
    top: -30;
    left: 30;
}

#cloud:after {
    width: 80px;
    height: 80px;
    top: -20;
    right: 10;
}

/*styling for search input and button*/
.search-div {
    padding: 15px;

    input {
        width: 70%;
        padding: 5px;
        border: 2px solid #b1b1b1;
        border-radius: 5px;
    }

    button {
        padding: 5px 10px;
        background-color: #86B6F6;
        border: 1px solid black;
        cursor: pointer;
        border-radius: 10px;
    }

    button:hover {
        background-color: #6e95c8;
    }
}

/*sizing the map and adding a little shadow and border and border-radius*/
#map {
    width: 500px;
    height: 250px;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #b1b1b1;
}

/*positioning weather updates and symbols*/
.weather-div {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;

    i {
        padding: 10px;
    }
}

/*styling for smaller devices*/
@media (max-width: 666px) {
    #map {
        width: 300px;
        height: 250px;
    }

    .weather-div {
        flex-direction: column;
        align-items: center;
    }
}