@use "base";

/*styling the basics of page*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: base.$back-color;
    font-family: base.$font-stack;
    color: base.$text-color;
    font-size: base.$text-size;
    text-align: center;
    height: 100vh;
}

/*selector inheritance for header and footer, extend to use on both header and footer*/
.head-foot-bg {
    background-color: base.$header-color;
    color: base.$header-text-color;
    padding: 20px;
    width: 100%;
    text-align: center;
}

header {
    @extend .head-foot-bg;

    h1 {
        font-size: base.$header-text;
    }
}

footer {
    @extend .head-foot-bg;

    h3 {
        font-size: base.$nav-text;
    }

    i {
        font-size: 25px;
        padding: 10px;
        cursor: pointer;
    }
}
.main-container {
    width: 80%;
    max-width: 800px;
    background-color: base.$container-color;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;

    h2, h3 {
        padding: 15px;
        font-size: base.$nav-text;
    }
}

#sun {
        background-color: yellow;
        border-radius: 50%;
        height: 60px;
        width: 60px;
        aspect-ratio: 1 / 1;
        animation: pulse 6s ease-in-out infinite;
        display: none;
    }


.search-div {
    padding: 15px;

    input {
        width: 70%;
        padding: 5px;
        border: 2px solid #b1b1b1;
    }

    button {
        padding: 5px 10px;
        background-color: #86B6F6;
        border: 1px solid black;
        cursor: pointer;
    }

    button:hover {
        background-color: #6e95c8;
    }
}

#map {
    width: 500px;
    height: 250px;
    margin: 30px 10px;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid #b1b1b1;
}

.weather-div {
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    gap: 10px;
}

@media (max-width: 768px) {
    #map {
        width: 300px;
        height: 250px;
    }
}